/* .pf-card-article {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.pf-card-article-img {
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  
}

.pf-card-section-button {
  display: flex;
  align-items: center;  
} */
